<div id='responses' align=center>

<a href=http://localhost/eventSys/user>Get users<a/></br>

<a href=http://localhost/eventSys/user?id=012.045.698-23>Get users by an id<a/></br>

<a href=http://localhost/eventSys/user?firstname=Jose>Get users by first name<a/></br>

<a href=http://localhost/eventSys/event>Get events<a/></br>

<a href=http://localhost/eventSys/event?id=2>Get event by id<a/></br>

<a href=http://localhost/eventSys/subscription>Get subscriptions<a/></br>

<a href=http://localhost/eventSys/workshop>Get workshops<a/></br>

<a href=http://localhost/eventSys/payment>Get payment<a/></br></br>

</div>
